@model IEnumerable<CourseApp.Models.Course>

@{
    ViewData["Title"] = "Index";
}


<h1>Index</h1>

<p>
    <a type="button" class="btn btn-info" asp-action="AddCourse">Add Course</a>
</p>

<h2>@TempData["Available_Courses"]</h2>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CourseName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CoursePrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CourseCategory)
            </th>
            <a href="c:\users\user\desktop\dotnet\courceproject\courseapp\views\course\index.cshtml"></a>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CourseName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CoursePrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CourseCategory)
            </td>
            <td>
                    <a type="button" class="btn btn-light" asp-action="EditCourse" asp-route-id="@item.CourseId">Edit</a>
                 
                    <a type="button" class="btn btn-danger" asp-action="DeleteCourse" asp-route-id="@item.CourseId">Delete</a>
                
            </td>
        </tr>
}
    </tbody>
</table>
